*.pyc
server/node_modules
minimaps
minimaps_done
tmp_screenshots
server/gpt_data
server/.env
.env
server/backup
backup_saves

.venv/
.runtime/
__pycache__/
.pytest_cache/
*.gba
*.gb
*.sav
*.ss0
core
core.*
